<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

	<servlet>
		<servlet-name>Verify</servlet-name>
		<servlet-class>org.nasscom.parasite.controller.VerifyServlet</servlet-class>
	</servlet>


	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>org.nasscom.parasite.controller.LoginServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>OtpGenerator</servlet-name>
		<servlet-class>org.nasscom.parasite.controller.OtpGeneratorServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>DocDetail</servlet-name>
		<servlet-class>org.nasscom.parasite.controller.DocumentDetailServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>LogOut</servlet-name>
		<servlet-class>org.nasscom.parasite.controller.LogoutServlet</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>Verify</servlet-name>
		<url-pattern>/verify</url-pattern>
	</servlet-mapping>


	<servlet-mapping>
		<servlet-name>LogOut</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DocDetail</servlet-name>
		<url-pattern>/details</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>OtpGenerator</servlet-name>
		<url-pattern>/generate</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<error-page>
		<!-- Missing login -->
		<error-code>401</error-code>
		<location>/error.jsp</location>
	</error-page>
	<error-page>
		<!-- Forbidden directory listing -->
		<error-code>403</error-code>
		<location>/error.jsp</location>
	</error-page>
	<error-page>
		<!-- Missing resource -->
		<error-code>404</error-code>
		<location>/error.jsp</location>
	</error-page>
	<error-page>
		<!-- Uncaught exception -->
		<error-code>500</error-code>
		<location>/error.jsp</location>
	</error-page>
	<error-page>
		<!-- Unsupported servlet method -->
		<error-code>503</error-code>
		<location>/error.jsp</location>
	</error-page>



</web-app>
